<blockquote>
    <br><br>
    <div class="form">
        <hr>
        <center>
            <h2>CashBook</h2>
        </center>
        <hr>
        <form action="" method="post">
            <div class="inputbox">

                <div class="myinput">
                    <label for="">অফিস কোড<n>*</n></label><br />
                    <select name="officeid" id="officeid">
                        <option value="1">1</option>
                    </select>
                </div>

                <div class="myinput">
                    <label for="">হিসাব কোড<n>*</n></label><br />
                    <select name="acccode" id="acccode">

                        <option value="1">1</option>
                    </select>
                </div>
                
                <div class="myinput">
                    <label for="">সদস্য নম্বর <n>*</n></label><br />
                    <input name="userid" id="userid" type="number" class="input" pattern="[0-9]*" placeholder="123" required>
                </div>

            </div>
            <div class="inputbox">

                <div class="myinput">
                    <label for=""> বিবরণী</label><br />
                    <input name="detelces" id="" type="text" class="input"  placeholder="এখানে লিখুন " >
                </div>

                <div class="myinput">
                    <label for="">রেফার বা অন্য কর</label><br />
                    <input name="refear" id="" type="text" class="input"  placeholder="এখানে লিখুন " >
                </div>
                
            </div>
            <div class="inputbox"> 

                <div class="myinput">
                    <label for="">জমা <n>*</n></label><br />
                    <input name="deposit" id="" type="number" class="input" pattern="[0-9]*" placeholder="123" required>
                </div>

                <div class="myinput">
                    <label for=""> খরচ<n>*</n></label><br />
                    <input name="deposit" id="" type="number" class="input" pattern="[0-9]*" placeholder="123" required>
                </div>

            </div>
        </form>
    </div>
</blockquote>