<blockquote>
    <div class="form">
        <blockquote>
            <h1>
                সদস্য লগ
            </h1>
            <blockquote>
                <div style="display: flex;">
                    <div class="leftpoint">
                        <img class="uimg" src="/icon.png" alt="">
                    </div>

                    <div class="leftpoint">
                        <p>username: load the javascript</p>
                    </div>
                </div>
            </blockquote>
        </blockquote>
    </div>
</blockquote>