<!-- menu -->
<div class="menubox">
    <br><br><br><br>
    <blockquote>
        <div onclick="window.location.href='/';localStorage.clear();" id="" class="mybtn">
            <i class="fa-solid fa-chart-pie"></i>  Status
        </div>
        <div onclick="appdata('newuser')" id="newuser" class="mybtn">
            <i class="fa-solid fa-user-plus"></i>   নুতুন সদস্য রেজিস্টার 
        </div>
        <div onclick="appdata('userlist')" id="userlist" class="mybtn">
            <i class="fa-solid fa-users"></i>   সদস্যের তালিকা 
        </div>
        <h3>Add More to update</h3>
    </blockquote>
</div>