<br><br>
<blockquote>
    <h1>নুতুন সদস্য রেজিস্টার করুন ! </h1>
    <div>
        <form action="" method="post">
            <div class="form">
                <h3>সদস্যের তথ্য</h3>
                <div class="inputbox">

                    <div class="myinput">
                        <label for="">সদস্যের নাম <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>

                    <div class="myinput">
                        <label for="">সদস্যের পিতার নাম <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>

                    <div class="myinput">
                        <label for="">সদস্যের মাতার নাম <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>

                    <div class="myinput">
                        <label for="">স্বামী বা স্ত্রীর নাম <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>
                    <!-- </div>

                <div class="inputbox"> -->
                    <div class="myinput">
                        <label for="">জাতীয় পরিচয় পত্র নম্বর <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>

                    <div class="myinput">
                        <label for="">ঠিকানা <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন ">
                    </div>

                    <div class="myinput">
                        <label for="">লিঙ্গ <n>*</n></label><br>
                        <select name="" id="" value="" type="text" class="input" required>
                            <option selected disabled>--Select--</option>
                            <option>পুরুষ</option>
                            <option>মহিলা</option>
                            <option>অনন্য</option>
                        </select>
                    </div>

                    <div class="myinput">
                        <label for="">জাতীয়তা <n>*</n></label><br>
                        <select name="" id="" value="" type="text" class="input" required>
                            <option selected>বাংলাদেশ
                            </option>
                        </select>
                    </div>
                    <!-- </div>
                <div class="inputbox"> -->
                    <div class="myinput">
                        <label for="">পেশা <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন " required>
                    </div>

                    <div class="myinput">
                        <label for="">সদস্যের মোবাইল নম্বর <n>*</n></label><br>
                        <input name="" id="" value="" type="text" class="input" placeholder="এখানে লেখুন " required>
                    </div>

                    <div class="myinput">
                        <label for="">জন্ম তারিখ <n>*</n></label><br>
                        <input name="" id="" value="" type="date" class="input" placeholder="এখানে লেখুন " required>
                    </div>

                    <div class="myinput">
                        <label for="">ধর্ম <n>*</n></label><br>
                        <select name="" id="" value="" type="text" class="input" required>
                            <option>ইসলাম </option>
                            <option>হিন্দু</option>
                            <option>খ্রিস্টান </option>
                            <option>অনন্য</option>
                        </select>
                    </div>
                </div>
                <div class="inputbox">
                    <div class="myinput">
                        <label for="">সদস্যের ছবি <n>*</n></label><br>
                        <div class="long">
                            <input oninput="upphoto('userimg')" name="" id="userimg" type="file" required
                                accept="image/*">
                            <img id="suserimg">
                        </div>
                    </div>

                    <div class="myinput">
                        <label for="">সদস্যের স্বাক্ষর <n>*</n></label><br>
                        <div class="long">
                            <input oninput="upphoto('suser')" name="" value="" id="suser" type="file" required
                                accept="image/*">
                            <img id="simg">
                        </div>
                    </div>

                    <div class="myinput">
                        <label for=""> এন আই ডি সামনে <n>*</n></label><br>
                        <div class="long">
                            <input oninput="upphoto('nidfont')" name="" value="" id="nidfont" type="file" required
                                accept="image/*">
                            <img id="snidf">
                        </div>
                    </div>

                    <div class="myinput">
                        <label for="">সদস্যের এই আইডি পিছনে <n>*</n></label><br>
                        <div class="long">
                            <input oninput="upphoto('nidback')" name="" value="" id="nidback" type="file" required
                                accept="image/*">
                            <img id="snidb">
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="form">
                <h3>
                    নামিনির তথ্য
                </h3>
            </div>

        </form>
    </div>

</blockquote>