<br>
<blockquote>
    <center>
        <div style="width: 400px;">
            <input  onclick="displayData()" oninput="searchData()" class="input" type="text" name="" id="search" placeholder="Search by name , nid , id , phone and joied date ">
        </div>
    </center>

    <table onload="displayData()" class="blueTable">
        <thead>
            <tr>
                <th>সদস্য নম্বর</th>
                <th> ছবি</th>
                <th> নাম</th>
                <th>এন আই ডি </th>
                <th>মোবাইল নম্বর</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody id="app">

        </tbody>
        </tr>
    </table>
</blockquote>