body {
  height: auto;
  padding: 0;
  margin: 0;
  background-color: #d8d7d7;
  font-family: sans-serif;
}
.popup {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  z-index: inherit;
}
.userimg {
  height: 100px;
  width: 100px;
  border: 1px solid rgb(0, 149, 255);
  border-radius: 100px;
}
.usericon {
  padding: 10px;
  font-size: 70px;
}
label,
input {
  margin: 10px;
}
.input {
  height: 30px;
  padding: 8px;
  color: #000;
  border-radius: 5px;
  width: 90%;
  border: 1px solid #4680ff;
  outline: none;
}
.input:focus {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.btn {
  height: 35px;
  width: auto;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.log {
  width: 200px;
  background-color: #000;
  color: #fff;
}
.nav {
  background-color: #ba5dfd;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: #fff;
}
.navbtnbox {
  position: absolute;
  right: 20px;
  top: 5px;
}
.naviconbtn {
  padding: 8px;
  font-size: 25px;
  color: #fff;
  background-color: #4680ff;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 5px;
}
.account {
  height: auto;
  width: auto;
  background-color: #fff;
  box-sizing: 0 0 10px 0 #000;
  border-radius: 10px;
  position: absolute;
  right: 8px;
  top: 81px;
  color: #000;
  box-shadow: 0 0 20px 0 #000;
}
.vcc {
  display: none;
}
.menubox {
  height: 100vh;
  overflow: scroll;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 30%;
}
.mybtn {
  height: auto;
  margin: 9px;
  background-color: #e8e5e5;
  padding: 10px;
  cursor: pointer;
}
#openphp {
  width: 100%;
  height: auto;
}
.ux {
  width: 70%;
  height: auto;
}
.form{
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.inputbox {
  display: flex;
  flex-wrap: wrap;
justify-content: center; 
}

.myinput {
  width: 200px;
  padding: 5px;
}
n{
  color: red;
}
select{
  padding: 10px;
  margin: 15px;
  height: 40px;
  background-color: #ffffff;
  color: #000;
  border-radius: 5px;
  width: 90%;
  border: 1px solid #4680ff;
  outline: none;

}
.long{
  width: 200px;
  height: 200px;
  border: 1px solid #4680ff;
  border-radius: 10px;

}
.long img {
  height: 100%;
  width: 100%;
 border-radius: 10px;
 display: none;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 9px 8px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #E2E2E2;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
}
table.blueTable thead th:first-child {
  border-left: none;
}
.apibtn{
  height: auto;
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4680ff;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px;
  font-size: 15pt;
}
.active{
  background-color: #ba5dfd;
  color: #fff;
}
.false{
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: #fff;
}
.slice {
  stroke: #fff;
  stroke-width: 1px;
  color: #fff;
}
.hover-slice {
  stroke-width: 2px;
}
.legend {
  font-size: 12px;
  cursor: pointer;
}
.legend-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.legend-item.strikethrough {
  text-decoration: line-through;
  color: lightgrey;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

}